@use "../../styles/media" as *;
@use "../../styles/variables" as *;

.hero {
  color: $white-color;
  background-color: $main-color;

  &__container {
    min-height: 600px;
    padding-top: 210px;
    padding-bottom: 80px;
    background-image: url("/src/img/hero.png");
    background-repeat: no-repeat;
    background-position: right 113px bottom 0;

    @include laptop {
      min-height: 484px;

      padding-top: 172px;
      padding-bottom: 60px;
      background-image: url("/src/img/hero-1024.png");
      background-position: right 48px bottom 0;
    }

    @include tablet {
      background-size: 203px;
      background-position: right 42px bottom 0;
    }

    @include mobile {
      min-height: 420px;
      padding-top: 90px;
      padding-bottom: 250px;
      background-size: 145px;
      background-position: center bottom;
    }
  }

  &__wrapper {
  }

  &__title {
    font-weight: 400;
    font-size: 88px;
    line-height: 1.1;
    margin-bottom: 60px;
    max-width: 788px;
    margin-top: 0;

    @include laptop {
      font-size: 70px;
      margin-bottom: 40px;
      max-width: 620px;
    }

    @include tablet {
      font-size: 54px;
      max-width: 460px;
    }

    @include mobile {
      font-size: 40px;
      margin-bottom: 24px;
      max-width: 350px;
    }
  }

  &__link {
    border: 1px solid $white-color;
    border-radius: 4px;
    padding: 16px 24px;
    display: inline-block;
    transition: color $transition, border-color $transition, opacity $transition;
    outline: none;

    &:focus-visible {
      border-color: $dark-color;
    }

    &:hover {
      border-color: #f0f0f0;
      color: #f0f0f0;
    }

    &:active {
      border-color: $second-color;
      color: $second-color;
    }

    &:disabled {
      opacity: 0.5;
    }

    @include tablet {
      padding: 12px 18px;
      font-size: 16px;
    }
  }
}
