.header {
  padding: 0 24px;

  top: 24px;
  left: 50%;
  position: absolute;

  width: 100%;
  transform: translateX(-50%);
}

.header__container {
  max-width: 1392px;
  backdrop-filter: blur(60px);
  background: rgba(108, 185, 171, 0.7);
  padding: 12px 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white-color);
}

.header__logo-link {
  font-size: 0;
}

.header__logo {
}

.header__nav {
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__menu-item {
}

.header__menu-link {
}

.header__cart-link {
  display: flex;
  position: relative;
  align-items: center;
}

.header__cart-text {
  position: absolute;
  color: var(--black-color);
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
}
