@use "../../styles/media" as *;
@use "../../styles/variables" as *;

.cart {
  padding-top: 215px;
  padding-bottom: 50px;

  @include laptop {
    padding-top: 170px;
  }

  @include tablet {
    padding-top: 139px;
    padding-bottom: 30px;
  }

  @include mobile {
    padding-top: 100px;
    padding-bottom: 30px;
  }

  &__container {
    display: grid;
    align-items: start;
    grid-template-columns: 2fr 1fr;
    gap: 32px 20px;

    @include laptop {
      grid-template-columns: 1fr 300px;
    }

    @include tablet {
      grid-template-columns: 1fr;
      gap: 0;
    }

    @include mobile {
      display: grid;
      align-items: start;
      grid-template-columns: 1fr;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 54px;
    line-height: 1.1;
    color: $second-color;
    grid-column: 1/-1;

    @include tablet {
      order: 2;
      margin-bottom: 24px;
      font-size: 36px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;

    @include laptop {
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }

    @include tablet {
      order: 3;
      grid-template-columns: repeat(auto-fill, minmax(159px, 1fr));
    }

    @include mobile {
      grid-column: 1 / -1;
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
      gap: 8px;
    }
  }

  &__totalWrapper {
    display: grid;
    grid-template-areas: "title submit" "total submit";
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 24px;
    background-color: $light-color;
    color: $dark-color;

    @include tablet {
      order: 1;
      margin-bottom: 40px;
      grid-template-areas: "title total submit";
      grid-template-columns: min-content 1fr min-content;
      gap: 6px;
    }

    @include mobile {
      grid-column: 1 / -1;
      margin-bottom: 30px;
      justify-content: space-between;
      grid-template-areas: "title submit" "total submit";
    }
  }

  &__totalText {
    grid-area: title;
    font-weight: 400;
    font-size: 20px;
    color: $dark-color;

    @include tablet {
      font-size: 16px;
    }
  }

  &__totalCount {
    font-size: 20px;
    color: $dark-color;
    grid-area: total;

    @include tablet {
      font-size: 16px;
    }
  }

  &__submit {
    grid-area: submit;
    font-weight: 400;
    font-size: 20px;
    color: $second-color;
    border: 1px solid $second-color;
    border-radius: 4px;
    padding: 16px 24px;
    background-color: transparent;
    cursor: pointer;

    @include tablet {
      padding: 12px 18px;
      font-size: 16px;
    }

    @include mobile {
      justify-self: end;
    }
  }
}
