.products {
  padding: 100px 0;
}

.products__container {
}

.products__title {
  font-weight: 400;
  font-size: 54px;
  line-height: 1.1;
  color: var(--second-color);
  margin-bottom: 32px;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.products__item {
}

.products__card {
}
