@use "../../styles/media" as *;
@use "../../styles/variables" as *;

.cartItem {
  font-size: 0;
  background-color: $light-color;

  &__img {
    width: 100%;
  }

  &__content {
    padding: 16px;

    @include mobile {
      padding: 16px 8px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 20px;
    color: $dark-color;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;

    @include laptop {
      white-space: initial;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    @include tablet {
      font-size: 16px;
      display: block;
      white-space: nowrap;
    }
  }

  &__countWrapper {
    display: flex;
    gap: 2px;
    align-items: center;
    margin-bottom: 20px;

    @include tablet {
      gap: 0;
    }

    @include mobile {
      margin-bottom: 12px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #b8b8b8;
    width: 36px;
    height: 36px;
    cursor: pointer;

    @include tablet {
      width: 24px;
      height: 24px;
      border-radius: 4px;
    }

    &_minus {
    }

    &_plus {
    }
  }

  &__count {
    display: block;
    width: 26px;
    font-weight: 400;
    font-size: 20px;
    color: $dark-color;
    text-align: center;
    border: none;
    background-color: transparent;
    outline: none;

    @include tablet {
      font-size: 16px;
    }
  }

  &__price {
    font-size: 20px;
    color: $dark-color;
  }

  @include tablet {
    font-size: 16px;
  }
}
