@use "../../styles/media" as *;
@use "../../styles/variables" as *;

.header {
  padding: 0 24px;

  top: 24px;
  left: 50%;
  position: absolute;

  width: 100%;
  transform: translateX(-50%);

  @include laptop {
    padding: 0 20px;
    top: 20px;
  }

  @include mobile {
    padding: 0;
    top: 0;
  }

  &__container {
    max-width: 1352px;
    backdrop-filter: blur(60px);
    background: rgba(108, 185, 171, 0.7);
    padding: 12px 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white-color;

    @include laptop {
      padding: 12px 22px;
    }

    @include mobile {
      padding: 8px 16px;
      gap: 16px;
    }
  }

  &__logoLink {
    font-size: 0;
  }

  &__logo {
    @include tablet {
      width: 78px;
    }
  }

  &__nav {
    @include mobile {
      display: none;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 50px;

    @include tablet {
      gap: 24px;
    }
  }

  &__menuItem {
  }

  &__menuLink {
    outline: none;
    border-bottom: 2px solid transparent;
    color: $white-color;
    transition: color $transition, border-color $transition;

    &:focus-visible {
      border-color: $dark-color;
    }

    &:hover {
      color: $second-color;
    }

    @include tablet {
      font-size: 16px;
    }
  }

  &__cartText {
    position: absolute;
    color: $dark-color;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    transition: color $transition;
  }

  &__cartLink {
    display: flex;
    position: relative;
    align-items: center;
    outline: 1px solid transparent;
    border-radius: 50%;
    outline-offset: 4px;
    transition: color $transition, outline-color $transition;

    &:focus-visible {
      outline-color: $dark-color;
    }

    &:hover {
      color: $second-color;
    }

    &:hover .header__cartText {
      color: $white-color;
    }
  }
}
