@use "../../styles/media" as *;
@use "../../styles/variables" as *;

.footer {
  background-color: $main-color;
  padding: 60px 0;
  color: var(--white-color);

  @include tablet {
    padding: 40px 0;
  }

  &__container {
    display: grid;
    gap: 38px;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;

    @include mobile {
      gap: 40px;
      grid-template-columns: 1fr;
    }
  }

  &__logoLink {
  }

  &__logo {
    font-size: 0;
  }

  &__nav {
  }

  &__menu {
    display: flex;
    gap: 50px;

    @include laptop {
      gap: 32px;
    }

    @include tablet {
      gap: 24px;
    }

    @include mobile {
      flex-direction: column;
      gap: 16px;
    }
  }

  &__menuItem {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.24;
    color: $white-color;

    @include tablet {
      font-size: 16px;
    }
  }

  &__menuLink {
    display: inline-block;
    color: $white-color;
    outline: none;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out,
      border-bottom-color 0.3s ease-in-out;
    border-bottom: 1px solid transparent;
    outline-offset: 3px;

    &:focus-visible {
      border-bottom-color: $second-color;
    }

    &:hover {
      color: $second-color;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.24;
    color: $white-color;

    @include tablet {
      font-size: 12px;
    }

    @include mobile {
      order: 1;
      gap: 12px;
    }
  }

  &__copyright {
    @include mobile {
    }
  }

  &__developers {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  &__developer {
  }

  &__developerLink {
    display: inline-block;
    color: $white-color;
    outline: none;
    transition: color $transition, transform $transition,
      border-bottom-color 0.3s ease-in-out;
    border-bottom: 1px solid transparent;
    outline-offset: 3px;

    &:focus-visible {
      border-bottom-color: $second-color;
    }

    &:hover {
      color: $second-color;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include tablet {
      gap: 12px;
    }
  }

  &__email {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.24;
    color: $white-color;

    @include tablet {
      font-size: 16px;
    }
  }

  &__socialList {
    display: flex;
    gap: 12px;
  }

  &__socialItem {
  }

  &__socialLink {
    display: block;
    border-radius: 50%;
    color: $white-color;
    transition: color $transition, transform $transition,
      outline-color 0.3s ease-in-out;
    outline: 1px solid transparent;
    outline-offset: 3px;

    &:focus-visible {
      outline-color: $second-color;
    }

    &:hover {
      color: $second-color;
    }

    &:active {
      color: $second-color;
      transform: scale(1.4);
    }
  }
}
