@use "../../styles/media" as *;
@use "../../styles/variables" as *;

.container {
  max-width: 1400px;
  padding-right: 50px;
  padding-left: 50px;
  margin: 0 auto;

  @include laptop {
    padding-right: 42px;
    padding-left: 42px;
  }

  @include mobile {
    padding-right: 16px;
    padding-left: 16px;
  }
}
